@import url("reset.css");
@import url("variables.css");

@import url("./componets_styles/Layout.css");
@import url("./componets_styles/Nav.css");
@import url("./componets_styles/Main.css");
@import url("./componets_styles/PetFormulario.css");
@import url("./componets_styles/Footer.css");


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


