:root {
    --colorLayout: #CDD4CA;
    --colorNav: #448030;
    --colorFooter: #349F47;
    --colorCard: #90B783;
    --colorGradient : linear-gradient(180deg, rgba(205, 212, 202, 0.637) 72.77%, rgba(196, 196, 196, 0.05) 100%);
    --fontSize: 500;
    --fontFamily:'Reggae One', cursive;
    --border: 1px 1px 2px black, 0 0 0.2em rgb(0, 0, 0);
    --borderTitle: -5px -5px 1px #000, 5px 5px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

