.container-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
}

.title-dashboard{
    font-family: var(--fontFamily);
    color: var(--colorLetra);
    font-size: 2.5rem;
    font-weight: bold;
}

.table-dashboard {
    margin-top: 2%;
    padding: 0 5% 0;
}

.animal-container{
    height:fit-content;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction:row;
    background-color: var(--colorFondo);
    margin-top: 1.5rem;
    padding: 7%;
    border-radius: 15px;
    
}

.animal-info{ 
    width: 55%;
    text-align: left;
    text-align-last:left;
    box-sizing: border-box;
} 

.animal-info div p{
    font-size: 1.2rem;
    font-weight: bold;
}

.titleValue {
    color : var(--colorLetra)
}

.titleValue div {
    display: flex;
    align-items: center;
}

.value{
    margin-left: 2px;
    color: black;
    font-size: 1rem !important;
    font-weight: bold;
}

.animal-description{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;   
}

.button-container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
}
.description-container{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:initial;
    box-sizing: border-box;
}

.description-container h3{
    text-align: left;
    color: var(--colorLetra);
    font-size: 1.1rem;
}

.description-container textarea{
    height: 70%;
    border: 2px solid var(--colorLetra);
    border-radius: 5px;   
}

.img-genero{
    align-items: center;  
}

.img-genero p{
    font-size: 1.2rem;
    font-weight: bold;
}

.animal-container img {
    width: 20px;   
}

.info{
    background-color: var(--colorBotones);
    border-radius:5px;
    border: 2px solid var(--colorLetra);
    transition: all .5s ease;
}

.info:hover {
    transform: scale(1.1);
}
 
.actionsContent{
    width: 100%;
    display: flex;
    justify-content:space-around; 
}

.actionEdit {
   background-color: orange;
   border: 2px solid var(--colorLetra);
   padding: 5px;
   border-radius: 5px;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--colorLetra);
   transition: all .5s ease; 
}

.actionEdit:hover {
    transform: scale(1.1);
}

.actionDelete {
    background-color: red;
    border: 2px solid var(--colorLetra);
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colorLetra);
    transition: all .5s ease;
}

.actionDelete:hover {
    transform: scale(1.1);
}

.btnAddPet {
    box-sizing: border-box;
    margin: 1.5em 0;
}

.btnAddPet button {
    background-color:var(--colorBotones);
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    padding: 0.8em 1.5em;
    transition: all .5s ease;
}

.btnAddPet button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 3px #ffcd2980;
}

.btnAddPet p {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width:350px) {
    .animal-container{
        margin-top: 1.5rem;
    }

    .titleValue div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media(min-width:350px){
    .container-dashboard{
        margin-top: 15%;
    }

    .table-dashboard {
        margin-top: 2%;
        padding: 0 10% 0;
    }
}

@media (min-width:615px) {
    .btnAddPet {
        margin: 2.5em 0;
    }

    .container-dashboard{
        margin-top: 15%;
    }

    .table-dashboard {
        margin-top: 2%;
        padding: 0 2% 0;
    }

    .table-dashboard main{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        box-sizing: border-box;
    } 
}

@media (min-width:768px) {
    .btnAddPet {
        margin: 2.5em 0;
    }

    .container-dashboard{
        margin-top: 10%;
    }

    .table-dashboard {
        margin-top: 2%;
        padding: 0 10% 0;
    }

}

@media (min-width:992px) {
    .container-dashboard{
        margin-top: 12%;
    }

    .table-dashboard {
        margin-top: 2%;
        padding: 0 10% 0;
    }

    .table-dashboard main{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        box-sizing: border-box;
    } 

    .btnAddPet {
        margin: 3em 0;
    }
    
}

@media (min-width:1200px) {
    .container-dashboard{
        margin-top: 8%;
    }

    .table-dashboard {
        margin-top: 2%;
        padding: 0 2% 0;
    }
    
    .table-dashboard main{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        box-sizing: border-box;
    } 
}

@media (min-width:1400px) {
    
}










