.Footer {
    height: 30vh;
    margin-bottom:0vh;

    background-color: var(--colorFondo);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* --- ASSOCIATION --- */

.associations {
    overflow-x: scroll!important;
    overflow-y: hidden!important;
    width:100vw ;
    background-color: var(--colorLayout);
    height: 100%;
}

.cardListAssociation {
    display: flex;
    flex-direction: row;
}

.containerBars{
  display: flex;
  align-items: center;
}

.barInitial {
  background-color:#3ac00096;
  position: relative;
  width: 20px;
  height: 90%;
}

.cardAssociation {
  position: relative;

  box-sizing: border-box;
  margin: 0.5rem 1rem;

  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  transition:all .5s ease;
}

.cardAssociation:hover {
transform:scale(1.1);
}

.imgAssociation {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    width: 100%;
    
}

/* information */

.information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--fontFamily);


  width: 100%;

  box-sizing: border-box;
  margin: 0.5rem 0;
}

.information a {
  width: 2rem;
}

.information a img {
  width: 100%;
}

@media (min-width: 576px){
  .associations {
    display: flex;
    justify-content: center;
}
}
@media (max-height: 750px){
  .Footer {
    height: 22vh;
}
}
@media (min-width: 768px){
  .associations {
    display: flex;
    justify-content: center;
}
}
@media (max-height: 700px){
  .associations {
    padding-bottom: 5rem;

}
}
@media (min-width: 992px){
  .associations {
    display: flex;
    justify-content: center;
}
}
@media (min-width: 1200px){
  .associations {
    display: flex;
    justify-content: center;
}
}
@media (min-width: 1400px){
  .associations {
    display: flex;
    justify-content: center;
}
}