.Footer {
    height: 20vh;

    background-color: var(--colorFooter);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* --- ASSOCIATION --- */

.associations {
    overflow-x: scroll!important;
    width:100vw ;
}

.cardListAssociation {
    display: flex;
    flex-direction: row;
}

.containerBars{
  display: flex;
  align-items: center;
}

.barInitial {
  background-color:#3ac00096;
  position: relative;
  width: 20px;
  height: 90%;
}

.bars {
  background-color:#3ac00096;
  position: relative;
  width: 2.5px;
  height: 90%;
}

.cardAssociation {
    position: relative;
  
    box-sizing: border-box;
    margin: 0.5rem 1rem;

    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
}

.imgAssociation {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;

    width: 100%;
}