
/* --- MAIN --- */

@media (prefers-reduced-motion: no-preference) {
    .Hero {
      animation: App-logo-spin infinite 20s linear;

      width: 100vw;
    }
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* --- SLIDER --- */

.Slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  height: 50vh;
  
  box-sizing: border-box;
  margin: auto;
}

/* --- PETS --- */

.pets {
  overflow-x: scroll!important;
  width:100vw ;
}

.cardList {
  display: flex;
  flex-direction: row;
}


.cardPet {
  position: relative;

  box-sizing: border-box;
  margin: 1rem;
}

.imgPet {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
}

.infoPet {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0.5em;

  background: rgba(196, 196, 196, 0.51);
  border-radius: 0px 0px 12px 12px;
}

.datePet {
  display: flex;
  align-items: flex-end;
}