.nav {
    width: 100%;
    min-height: 8vh;

    background: var(--colorGradient);
    position: absolute;
    top: 0;

    font-family: var(--fontFamily);

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 2%;
}

/* --- Logo --- */

.logo-container {
    width: 35%;
    display: flex;
    justify-content: center;
    transition: all .5s ease;
}

.logo-container:hover {
    transform: scale(1.1);
}

.logo {
    width: 100%;
}

/* .navbar div :hover {             mediaQuery in sizeWeb :hover in options
    background-color: #3b3c3fb7;
} */

/* --- Usuario --- */

.navbar {
    width: 10%;   
}

.container-usuario {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px !important;
    
}

.burger {
    width: 100%;
    border-radius: 5px;
    object-fit:contain;
}

.burger:hover {
    cursor: pointer;
    width: 115%;
}

.dropdown ul {
    display: none;
    width: 35%;

    position: absolute;
    right: 7px;

    z-index: 1;
  
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 5px 5px rgb(0 0 0 / 15%);
} 

.dropdown ul li{
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    box-sizing: border-box;
    padding: 5%;
    
}

.logout:hover {
    background-color: #b2141454 !important;
    border: 1px solid #b2141454 !important;
}

.logout p{
    list-style: none;
    text-decoration: none;
    color: #ffcc29;
    font-size: 1rem;
    font-weight: bold;
}

/*.dropdown li:hover {
    background-color: #80b21454;
    transition: height 0.6s ease-in-out, background-color 0.6s;
} */

.dropdown ul li:hover {
    background: #80b21454;
    border: 1px solid #80b21454;
    border-radius: 0px 0px 5px 5px;
}

.dropdown ul li a{
    list-style: none;
    text-decoration: none;
    color: #ffcc29;
    font-size: 1rem;
    font-weight: bold;
}


.dropdown .container-usuario:hover + ul,
.dropdown ul:hover {
    display: block;
}

/* --- Seacher --- */

.container-searcher {
    width: 30%;
    height: 90%;
}

.searcher {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-searcher {
    width: 70%;
    
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 5px;
    border: 1px solid #000000;

    display: flex;
    text-align: center;
    color: rgb(0, 0, 0);
}

.input-searcher::placeholder { 
    color: rgb(0, 0, 0); 
}

.lupa-searcher {
    width: 20%;
    
}

/* --- Medias --- */

@media (min-width:576px) {
    .logo-container {
        width: 30%;
    }

    .navbar {
        width: 7%;
    }

    .container-searcher {
        width: 18%;
    }

    .dropdown ul {
        right: 10px;
    }

    .dropdown ul li{
        margin-top: 6%;
    }

    .dropdown ul li:hover {
        transform: scale(1.1);
    }

    .dropdown ul li:hover::before {
        left: -2.5px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width: 0 0 11.5px 11.5px;
        border-color: transparent transparent #80b21454 transparent;
    }
    
    .dropdown ul li:hover::after {
        right: -2.5px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width:  11.5px 0 0 11.5px;
        border-color: transparent transparent transparent #80b21454;
    }

    .logout:hover::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width: 0 0 11.5px 11.5px;
        border-color: transparent transparent #b2141454 transparent !important;
    }
    
    .logout:hover::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width:  11.5px 0 0 11.5px;
        border-color: transparent transparent transparent #b2141454 !important;
    }
}

@media (min-width:768px) {
    .logo-container {
        width: 25%;
    }

    .navbar {
        width: 5%;
    }

    .container-searcher {
        width: 20%;
    }

    .dropdown ul li{
        margin-top: 7%;
    }

    .dropdown ul {
        width: 25%;
    }

    .dropdown ul li a{
        font-size: 1.2rem;
    }

    .dropdown ul li:hover {
        transform: scale(1.1);
    }

    .dropdown ul li:hover::before {
        left: -2.5px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width: 0 0 11.5px 11.5px;
        border-color: transparent transparent #80b21454 transparent;
    }
    
    .dropdown ul li:hover::after {
        right: -2.5px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width:  11.5px 0 0 11.5px;
        border-color: transparent transparent transparent #80b21454;
    }
}

@media (min-width:992px) {
    .logo-container {
        width: 20%;
    }

    .navbar {
        width: 4%;
    }

    .container-searcher {
        width: 15%;
    }

    .dropdown ul li{
        padding: 8%;
    }

    .dropdown ul {
        width: 18%;
        right: 20px;
    }

    .dropdown ul li a{
        font-size: 1.2rem;
    }

    .dropdown ul li:hover {
        transform: scale(1.1);
    }

    .dropdown ul li:hover::before {
        left: -2px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width: 0 0 11.5px 11.5px;
        border-color: transparent transparent #80b21454 transparent;
    }
    
    .dropdown ul li:hover::after {
        right: -2px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width:  11.5px 0 0 11.5px;
        border-color: transparent transparent transparent #80b21454;
    }
}

@media (min-width:1200px) {
    .nav{
        min-height: 10vh;
        padding-bottom: 0.5rem;
    }

    .logo-container {
        width: 15%;
        padding-top: 0.5rem;
    }

    .navbar {
        width: 3%;
    }

    .container-searcher {
        width: 14%;
        padding-right: 8rem;
    }

    .dropdown ul li{
        padding: 5%;
    }

    .dropdown ul {
        width: 18%;
        right: 20px;
    }

    .dropdown ul li a{
        font-size: 1.5rem;
        color: var(--colorLetra);
    }
    .logout p{
        font-size: 1.5rem;
        color: var(--colorLetra);
    }

    .dropdown ul li:hover {
        transform: scale(1.1);
    }

    .dropdown ul li:hover::before {
        left: -1.5px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width: 0 0 11.5px 11.5px;
        border-color: transparent transparent #80b21454 transparent;
    }
    
    .dropdown ul li:hover::after {
        right: -1.5px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -12.5px;
        border-style: solid;
        border-width:  11.5px 0 0 11.5px;
        border-color: transparent transparent transparent #80b21454;
    }
}

@media (min-width:1400px) {
    .logo-container {
        width: 14%;
    }

    .navbar {
        width: 3%;
    }

    .container-searcher {
        width: 12%;
    }
    .logout p{
        font-size: 1.5rem;
        color: var(--colorLetra);
    }
}