.nav {
    width: 100%;
    min-height: 8vh;

    background-color: var(--colorNav);

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 2%;
}

/* --- Logo --- */

.logo-container {
    width: 35%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 100%;
}

/* .navbar div :hover {             mediaQuery in sizeWeb :hover in options
    background-color: #3b3c3fb7;
} */

/* --- Usuario --- */

.navbar {
    width: 10%;   
}

.container-usuario {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px !important;
}

.burger {
    width: 100%;
}

.dropdown ul {
    display: none;

    position: absolute;
    right: 0;

    z-index: 1;

    background-color: var(--colorNav);
}

.dropdown ul li{
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    box-sizing: border-box;
    padding: 2%;
}

.dropdown ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}


.dropdown .container-usuario:hover + ul,
.dropdown ul:hover {
    display: block;
}

/* --- Seacher --- */

.container-searcher {
    width: 30%;
    height: 90%;
}

.searcher {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-searcher {
    width: 70%;
    
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 1px solid black;

    display: flex;
    text-align: center;
    color: black;
}

.input-searcher::placeholder { 
    color: black; 
}

.lupa-searcher {
    width: 20%;
}

/* --- Medias --- */

@media (min-width:576px) {
    .logo-container {
        width: 30%;
    }

    .navbar {
        width: 7%;
    }

    .container-searcher {
        width: 25%;
    }
}

@media (min-width:768px) {
    .logo-container {
        width: 25%;
    }

    .navbar {
        width: 5%;
    }

    .container-searcher {
        width: 20%;
    }
}

@media (min-width:992px) {
    .logo-container {
        width: 20%;
    }

    .navbar {
        width: 4%;
    }

    .container-searcher {
        width: 15%;
    }
}

@media (min-width:1200px) {
    .logo-container {
        width: 15%;
    }

    .navbar {
        width: 3%;
    }

    .container-searcher {
        width: 14%;
    }
}

@media (min-width:1400px) {
    .logo-container {
        width: 14%;
    }

    .navbar {
        width: 3%;
    }

    .container-searcher {
        width: 12%;
    }
}