.PetFormulario{
   border-radius: 10px;
   margin-bottom: 50%;
   text-align: center;
} 

.title{
text-align: center;
}

.FormPet{
   background-color:var(--colorFondo);
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10%;
   margin: 5%;
   border-radius: 5px;
   padding-top: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}

.titleFormCreate {
   color: white;
   font-size: 200%;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 2%;
}

::placeholder { 
   color: var(--colorCard) 
}

.FormPet input{
   margin-bottom: 2%;
   border-radius: 5px;
   border:none;
   font-family: Arial, Helvetica, sans-serif;
   margin: 1%;
   width: 10rem;
}
.checkbox {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   padding:5px;
}

.button button {
   justify-content: center;
   padding: 5px;
   border-radius: 5px;
   border: none;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--colorLetra);
   margin-bottom: 30px;
   background-color: var(--colorBotones);
  
}

.Submit{
   background-color: var(--colorNav);
   margin-right: 10%;
}

.button {
   display: flex;
   justify-content: space-evenly;
   width:40vh;
   
}

.imgDogAndCat{
   margin: 2%;
   display: inline-block;
   width: 90%;
   margin-left: 5%;
   border-radius:10px;
}