.container-form-create {
   margin-top: 5rem;
   
   display: flex;
   flex-direction: column;
   align-items: center;
}

::placeholder { 
   color: var(--colorCard) 
}
.container-editUser{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.formCreate{
   background-color:var(--colorFondo2);
   
   padding: 1rem;
   margin-top: 1rem;

   border-radius: 10px;
   text-align: center;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   
   width: 60%;
}
.formCreate-2{
   background-color:var(--colorFondo2);
   
   padding: 1rem;
   margin-top: 1rem;

   border-radius: 10px;
   text-align: center;

   display: flex;
   flex-direction: column;
   
   width: 65%;
}
.formCreate div {
   box-sizing: border-box;
}
.form-top {
   display: flex;
   flex-direction: row;
   justify-content:space-around ;
}
.form-top-2 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.name-age-description-priority, .size-species-race-gender-vachip {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   width: 40%;
}
.name-age-description-priority-2, .username-adress-capacity-fileImg{
   display: flex;
   flex-direction: column;
   align-items: center;
   
   width: 100%;
}
.name-age-description-priority input, .name-age-description-priority select, .name-age-description-priority textarea,
.size-species-race-gender-vachip input, .size-species-race-gender-vachip select,
.username-adress-capacity-fileImg input {
   box-sizing: border-box;

   border: 2px solid var(--colorLetra);
   border-radius: 5px;
   
   width: 100%;
}

.gender, .vachip  {
   display: flex;
   flex-direction: row;
   justify-content: space-around;

   font-family: var(--fontFamily);
   color: var(--colorLetra);

   width: 100%;

   margin-top: 0.5rem;
}
.gender div, .vachip div {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   width: 100%;
}
.gender div input, .vachip div input {
   width: 40%;
}

textarea {
   resize: none;
 }
.name-age-description-priority textarea {
   height: 8rem;
}


#input-fileImg {
   display: none;
}

.button-file {
   background-color: var(--colorBotones);
   color: var(--colorLetra);

   border-radius: 10px;
   border: none;

   box-sizing: border-box;
   padding: 0.5em 0.5em;
   margin-top: 0.75rem;

   font-family: var(--fontFamily);
   font-size: 1rem;
   font-weight: bold;

   width: 100%;
}

.message-fileImg {
   color: var(--colorLetra);
}
.message-fileImg-error {
   color: red;
}

.button-file:hover {
   cursor: pointer;
   box-shadow: 0px 0px 5px 3px #ffcd2980;
}

.formCreate div button, .formCreate-2 div button{
   background-color:var(--colorBotones);
   color: var(--colorLetra);

   border-radius: 10px;
   border: none;

   box-sizing: border-box;
   padding: 0.8em 0.8em;
   margin-top: 2rem;

   transition: all .5s ease;

   font-size: 1.2rem;
   font-weight: bold;

}

.formCreate div button:hover, .formCreate-2 div button:hover {
   cursor: pointer;
   transform: scale(1.1);
   box-shadow: 0px 0px 5px 3px #ffcd2980;
}

.DogAndCat {
   padding: 1rem;
   padding-left: 0
}

.imgDogAndCat{
   display: inline-block;

   width: 90%;

   border-radius: 10px;
}
.imgDogAndCat-2{
   display: inline-block;

   height: 15rem;   

   border-radius: 10px;
}

@media (max-width:575px) {
    
}

@media (min-width:576px) {
    
}

@media (min-width:768px) {
    
}

@media (max-width:992px) {
   .formCreate div button{
      width: 5%;
   }
}

@media (max-width:1200px) {
    .formCreate {
       display: flex;
       flex-direction: column;
    }
    .container-form {
       width: 80%;

       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .formCreate div button{
       width: 20%;
    }
    .form-top {
       width: 100%;
    }
}

@media (min-width:1400px) {
    
}