.PetFormulario{
   border-radius: 10px;
   margin-bottom: 50%;
   text-align: center;
   background-color:var();
   color : var(); 
} 


.title{
text-align: center;
}

.FormPet{
   background-color:var(--colorCard);
   text-align: center;
   margin-top:10px;
   margin-bottom: 10%;
   margin: 5%;
   border-radius: 5%;
   padding-top: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
   
}

.titleFormCreate {
   color: white;
   font-size: 200%;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 5%;
}

::placeholder { 
   color: var(--colorCard) 
}

.FormPet input{
   margin-bottom:2%;
   border-radius:3px ;
   border:none;
   font-family: Arial, Helvetica, sans-serif;
   margin: 1%;
   width: 10rem;
}
.checkbox {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
}
.button button {
   justify-content: center;
   padding: 5px;
   border-radius: 6px;
   border: none;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--colorCard);
   margin-bottom: 20px;
  
}
.Submit{
   background-color: var(--colorNav);

}


.button {
   display: flex;
   justify-content: space-evenly;
}

.imgDogAndCat{
   margin: 2%;
   display: inline-block;
   width: 90%;
   margin-left: 5%;
   border-radius:20px;
}