.containerSignUp {
    margin-top: 5rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-register {
    font-family: var(--fontFamily);
    color: var(--colorLetra);
    font-size: 2.5rem;
    font-weight: bold;
}
.containerSignUp div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--colorFondo2);
    width: 50%;
    border-radius: 15px;

    padding: 1rem;
    margin-top: 1rem;

}
.containerSignUp div form {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    width: 80%; 
}
.containerSignUp div form input {
    border: 2px solid var(--colorLetra);
    border-radius: 5px;
}
.containerSignUp div form button {
    margin-top: 1rem;

    background-color: var(--colorBotones);
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    padding: 0.5em 1.3em;
    transition: all .5s ease;

    width: 100%;
}
